{{#if auth.signedIn}}
  <ul class="right">
    <li>{{#linkTo 'users.show' auth.user}}{{auth.user.email}}{{/linkTo}}</li>
    <li class="has-form"><a {{action "signOut"}} class="button">Sign out</a></li>
  </ul>
{{/if}}