<form {{action 'signIn' on="submit"}}>
  <label>Email</label>
  {{input type='text' value=email}}
  <label>Password</label>
  {{input type='password' value=password}}
  {{input type='checkbox' checked=remember}}
  <label>Remember me</label>
  <button type=submit>Sign In</button>
</form>